* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  gap: 40px;
}
.img1 {
  margin-top: 180px;
}
.box {
  margin-bottom: 150px;
  display: flex;
  border: 1px solid rgba(0, 0, 0, .1);
  background-color: white;
  width: 340px;
  height: 440px;
  justify-content: center;
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  border-radius: 1px;
  text-align: center;
  outline: none;
}
.all_login {
  justify-content: center;
  display: flex;
  gap: 40px;
  flex-direction: column;
}
.login {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.form {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
input {
  max-width: 400px;
  width: 300px;
  background-color: rgb(245, 245, 246);
  border: 1px solid rgb(200, 200, 200);
  border-radius: 2px;
  font-size: 1em;
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  outline: none;
  padding: 10px 20px;
  color:rgb(0, 0, 0);
}
button {
  color:white;
  background-color: rgb(0, 126, 237);
  border: 0;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1.1em;
  cursor: pointer;
}
.or {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  position: relative;
  margin-top: 8px;
  color: rgb(134, 132, 132);
}
.or::before {
  content: '';
  position: absolute;
  background-color: rgb(170, 168, 168);
  height: 1px;
  bottom: 7px;
  left: 10px;
  width: 100px;

}
.or::after {
  content: '';
  position: absolute;
  background-color: rgb(170, 168, 168);
  height: 1px;
  bottom: 7px;
  right: 10px;
  width: 100px;
}
h3 {
  display: flex;
  color: #3549b0;
  font-size: 14px;
  cursor: pointer;
  align-items: center;
  font-family: inherit;
}
h3 i {
  font-size: 15px;
  font-family: inherit;
}
.forget {
  color: #3549b0;
  font-size: 0.8em;
  text-decoration: none;
}
.smallbox {
  display: flex;
  margin-bottom: -55px;
  border: 1px solid rgba(0, 0, 0, .1);
  background-color: white;
  width: 340px;
  height: 65px;
  justify-content: center;
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  border-radius: 1px;
  text-align: center;
  align-items: center;
}
.lastword {
  position: inherit;
  font-weight: normal;
  text-align: center;
  align-items: center;
  font-size: 0.97em;
}
.lastword1 {
  text-decoration: none;
  color: rgb(30, 130, 246); 
  font-weight: bold;
}
h4 {
  font-weight: normal;
  font-size: 0.9em;
}
.app {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
}